name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tylerbutler/actions/setup-gleam@main
      - name: Build
        run: just build
      - name: Run tests
        run: just test
      - name: Check formatting
        run: just format-check
